<ul>
  <li class="client-logo client-disney">&nbsp;</li>
  <li class="client-logo client-vmware">&nbsp;</li>
  <li class="client-logo client-abc">&nbsp;</li>
  <li class="client-logo client-ca">&nbsp;</li>
  <li class="client-logo client-naturipe">&nbsp;</li>
  <li class="client-logo client-synopsys">&nbsp;</li>
  <li class="client-logo client-ebay">&nbsp;</li>
  <li class="client-logo client-upspring">&nbsp;</li>
  <li class="client-logo client-thx">&nbsp;</li>
  <li class="client-logo client-univa">&nbsp;</li>
  <li class="client-logo client-milton">&nbsp;</li>
  <li class="client-logo client-lincoln">&nbsp;</li>
  <li class="client-logo client-greystripe">&nbsp;</li>
  <li class="client-logo client-intel">&nbsp;</li>
  <li class="client-logo client-lionfilms">&nbsp;</li>
  <li class="client-logo client-americanwater">&nbsp;</li>
  <li class="client-logo client-goodwill">&nbsp;</li>
  <li class="client-logo client-dasher">&nbsp;</li>
  <li class="client-logo client-martini">&nbsp;</li>
  <li class="client-logo client-senate">&nbsp;</li>
  <li class="client-logo client-namco">&nbsp;</li>
  <li class="client-logo client-defibtech">&nbsp;</li>
  <li class="client-logo client-webley">&nbsp;</li>
  <li class="client-logo client-half">&nbsp;</li>
  <li class="client-logo client-fox">&nbsp;</li>
</ul>