<div class="hero">
  <div class="wrapper">
    <div class="inside">
  
		  <div class="video-wrapper">
        <div class="video">
		      <section>
		        <h1 class="throw">Creative Motion Graphics and Flash Presentations</h1>
		        <div class="image">
		          
		          <div class="items">
		            <img class="t-stage" src="/images/t_stage.jpg" />
		            <img class="t-phone" src="/images/t_phone.png" />
		            <img class="t-ipad" src="/images/t_ipad.png" />
		            <img class="t-screen" src="/images/t_screen.png" />
		          </div>
		          
		          <div class="frame">
	              <iframe src="http://player.vimeo.com/video/48041840?title=0&byline=0&portrait=0&loop=1&autoplay=0" width="550" height="310" frameborder="0" webkitAllowFullScreen="true" mozallowfullscreen="true" allowFullScreen="true"></iframe>
	            </div>
	            
		        </div>
		      </section>
		    </div>
		  </div>
		  
		  <div class="about-wrapper clearfix">
		    <div class="about">
		  
				  <div class="heroleft-wrapper">
		        <div class="heroleft">
				      <section>
				      
						    <h1>Motion Graphics for Any Screen</h1>
						    <p>We create impactful motion graphics for tradeshows, mobile and the web. We can help you take your product or service to the next level.</p>  
						    <p><strong><a href="#contact" title="Contact us for a free Quote">Get a quote</a> or scroll down to get to know us a little better.</strong></p>
				      
				      </section>
				    </div>
				  </div>
				  
				  <div class="heroright-wrapper">
		        <div class="heroright">
				      <section>
				    
				        <hgroup>
					        <h1>What we do:</h1>
					        <h2>We specialize in all thing motion:</h2>
					      </hgroup>
				        <ul class="first">
				          <li>Motion Graphics</li>
		              <li>Video Shoots</li>
		              <li>Flash Animation</li>
		              <li>3D Animation</li>
				        </ul>
				        <ul class="last">
		              <li>Green Screen</li>
		              <li>Script Development</li>
		              <li>Storyboarding</li>
		              <li>Voiceover Recording</li>
		            </ul>
		            
		          </section>
				    </div>
				  </div>
				  
				  <div class="mini-nav">
		        <a href="#top" class="up" title="Top">Top</a>
		        <a href="#how-we-do-it" class="down" title="How we do it">How We Do It</a>
		      </div>
			  
			  </div>
			</div>
  
    </div>
  </div>
</div>