<div class="how">
  <div class="wrapper">
    <div class="inside">
  
      <section>
        
        <hgroup>
	        <h1>How We Do It</h1>
	        <h2>We handle every phase of your project</h2>
	      </hgroup>
	      
	      <div class="items">
	      
		      <div class="first item">
		        <section>
		          
		          <h1 class="throw">Screenwriting</h1>
	            <p>Whether you have a finalized script, or need one written from scratch, we will ensure your story is told effectively.</p>
		        
		       </section>
		      </div>
		      
		      <div class="second item">
		        <section>
	            
	            <h1 class="throw">Storyboarding</h1>
	            <p>We design the overall look of your presentation and let you tweak and change it.  Once it's perfect we move into production.</p>
	          
	          </section>
	        </div>
	        
	        <div class="third item">
	          <section>
	            
	            <h1 class="throw">Production</h1>
	            <p>We shoot, animate, edit and bring your presentation to life.  Our in-house facilities ensure precise control over every aspect of the production.</p>
	         
	          </section>
	        </div>
	        
	        <div class="fourth item">
	          <section>
	            
	            <h1 class="throw">Delivery</h1>
	            <p>No matter the screen size, we deliver any video format to maximize your audience and effectiveness.</p>
		        
		        </section>
		      </div>
	      
	      </div>
	      
      </section>
      
      <div class="mini-nav">
        <a href="#what-we-do" class="up" title="What We Do">What We Do</a>
        <a href="#projects" class="down" title="Our Projects and Clients">Our Projects &amp; Clients</a>
      </div>
      
    </div>
  </div>
</div>