<div class="work">
  <div class="wrapper">
    <div class="inside">
  
      <div class="projects-wrapper">
        <div class="projects">
          <section>
        
            <div class="project-head">
              <div class="project-head-inner">
		            <header>
					        <hgroup>
					          <h1>Projects</h1>
					          <h2>Check out our recent work, there's something in here for everyone.</h2>
					        </hgroup>
					        <p>Animation, video production, 3D, Flash, we’ve done it all.  We’ll find the right combination of digital media to produce the best results for your project.</p>
		            </header>
		          </div>
	          </div>
	          
            <div class="project-items-wrapper">
              <div class="project-items">
                <div class="lift:embed?what=templates/_projects_items">Projects Items</div>
              </div>
            </div>
            <div class="controls">
              <span class="left"></span>
              <span class="dot active" item="1"></span>
              <span class="dot" item="2"></span>
              <span class="right"></span>
            </div>
        
        
          </section>
        </div>
      </div>
      
      <div class="clients-wrapper">
        <div class="clients">
          <section>
        
		        <div class="clients-head">
              <div class="clients-head-inner">
                <header>
					        <h1>Our Clients</h1>
					        <p>Our clients range from small startups to fourtune 500 companies.</p>
					      </header>
					    </div>
					  </div>
					      
		        <div class="client-items-wrapper">
              <div class="client-items">
                <div class="lift:embed?what=templates/_clients_items">Clients Items</div>
              </div>
            </div>
            <div class="controls">
              <span class="left"></span>
              <span class="dot active" item="1"></span>
              <span class="dot" item="2"></span>
              <span class="dot" item="3"></span>
              <span class="dot" item="4"></span>
              <span class="dot" item="5"></span>
              <span class="right"></span>
            </div>
        
          </section>
        </div>
      </div>
      
      <div class="mini-nav">
        <span class="sup"><a href="#how-we-do-it" class="up" title="How we do it">How We Do It</a></span>
        <span class="sdown"><a href="#free-quote" class="down" title="Get a free quote!">Get A Free Quote!</a></span>
      </div>
      
    </div>
  </div>
</div>