<ul>

  <li>
    <a class="cb" href="http://player.vimeo.com/video/43055844?autoplay=1">
      <img title="Moxie: Chat" alt="Moxie: Chat" src="/images/moxiechat.jpg" />
      <span class="hover">
        <h2>Moxie: Chat</h2>
        <p>Video presentation</p>
      </span>
    </a>
  </li>
  
  <li>
    <a class="cb" href="http://player.vimeo.com/video/42864492?autoplay=1">
      <img title="Moxie: Move Forward" alt="Moxie: Move Forward" src="/images/moxiemovefareward.jpg" />
      <span class="hover">
        <h2>Moxie: Move Forward</h2>
        <p>Video presentation</p>
      </span>
    </a>
  </li>
  
  <li>
    <a class="cb" href="http://player.vimeo.com/video/43055844?autoplay=1">
	    <img title="Moxie: A Day In the Life" alt="Moxie: A Day In the Life" src="/images/moxiedayinthelife.jpg" />
	    <span class="hover">
	      <h2>Moxie: A Day In the Life</h2>
	      <p>Editing and visual effects.</p>
	    </span>
	  </a>
  </li>
  
  <li>
    <a class="cb" href="http://player.vimeo.com/video/42864814?autoplay=1">
      <img title="Univa and Intel" alt="Univa and Intel" src="/images/univaintel.jpg" />
      <span class="hover">
        <h2>Univa and Intel</h2>
        <p>Video presentation</p>
      </span>
    </a>
  </li>
  
  <li>
    <a class="cb" href="http://player.vimeo.com/video/42864813?autoplay=1">
      <img title="VMware vFabric" alt="VMware vFabric" src="/images/vfabric.jpg" />
      <span class="hover">
        <h2>VMware vFabric</h2>
        <p>Video presentation</p>
      </span>
    </a>
  </li>
  
  <li>
    <a class="cb" href="http://player.vimeo.com/video/43051343?autoplay=1">
      <img title="VMware MVP" alt="VMware MVP" src="/images/vmwaremvp.jpg" />
      <span class="hover">
        <h2>VMware MVP</h2>
        <p>Video presentation</p>
      </span>
    </a>
  </li>
  
  <li>
    <a class="cb" href="http://player.vimeo.com/video/43049898?autoplay=1">
      <img title="VMware TAP" alt="VMware TAP" src="/images/vmwaretap.jpg" />
      <span class="hover">
        <h2>VMware TAP</h2>
        <p>Video presentation</p>
      </span>
    </a>
  </li>
  
  <li>
    <a class="cb" href="http://player.vimeo.com/video/43051136?autoplay=1">
      <img title="CA AppLogic" alt="CA AppLogic" src="/images/caapplogic.jpg" />
      <span class="hover">
        <h2>CA AppLogic</h2>
        <p>Video presentation and script writing</p>
      </span>
    </a>
  </li>
  
  <li>
    <a class="" target="_blank" href="http://vmwarehealthcare.com/Default.aspx">
      <img title="VMware Healthcare" alt="VMware Healthcare" src="/images/vmwarehealthcare.jpg" />
      <span class="hover">
        <h2>VMware Healthcare</h2>
        <p>Video shoot and web development</p>
      </span>
    </a>
  </li>
  
</ul>